<router-outlet></router-outlet>
<header class="py-2 px-2 px-md-5 text-white">
    <button class="row row-cols-2 justify-content-start text-white px-2 py-0">
        <div class="icon_button m-0 p-0 w-auto h-auto">
            <em>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </em>
        </div>
        <p routerLink="routes/coordinacion-academica/contratacion/contratacion.component.html" class="w-auto h-auto p-0 m-0 align-self-center">
            Menu
        </p>
    </button>
</header>
<a routerLink="/src/app/routes/coordinacion-academica/coordinacion-academica.component.html">asdasda</a>